.left
  %a{:href=>"#{user_path(investigating.user)}", :class=>"mini_photo", :rel=>"friend"}
    =image_tag((investigating.user.avatar_photo_url(:thumb)), :alt=>investigating.user.login, :width=>"24", :height=>"24")