- @section = "investigations"
- @subsection = "featured"
- content_for :sub_nav do
  =render :partial => "subnav"

#yui-main

  .yui-b
    

    .box.investigations.hfeed
      %h2
        Featured investigations
      %p
        Occasionally one of our investigations will provoke a lot of interest, so we add it to this group of 'featured' investigations.
      = render :partial => 'investigation', :collection => @investigations

      .pagination=paginating_links @investigations if @investigations.page_count > 1
.yui-b
  = render :partial => "find_investigations_right"