- @section = "investigations"

.box
    
  = error_messages_for :blank
  - form_for(:blank, :url => investigation_blank_path(@blank.investigation, @blank), :html => { :method => :put, :class =>'MainForm' }) do |f|
  
    = render :partial => "form", :object => f
    %p= submit_tag :save_blank.l, :or => link_to(:cancel.l, investigation_path(@blank.investigation))